# Compiled binaries
envsafe
dist/
npm/bin/

# Env files (keep template examples safe)
*.env
*.env.enc
!*.env.example
!*.env.*.example

# Test files residue
*_test.env
*_test.env.*
test.env
test.env.example

# IDEs & System files
.DS_Store
.idea/
.vscode/
*.swp
*.tmp